<div id="cart-header">
  <h3>Vaša konfiguracija</h3>
  <span>{{ quantity$ | async }}</span>
</div>
<mat-card>
    <mat-card-content>
      <mat-list-item *ngFor="let it of items$ | async">
        <app-cart-item [item]="it"></app-cart-item>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-card-content>
    <mat-card-footer>
      <span>Ukupno:</span>
      <span>
        <span *ngIf="(cost$ | async) != 0; else zero">
            {{ formatter.ispisi(cost$ | async) }}
        </span>
        <ng-template #zero>--</ng-template>
      </span>
    </mat-card-footer>
</mat-card>
