<div class="cart-item-container" (click)="removeFromCart(item)">
  <div class="info">
    <div class="row">
        <strong>{{ item.name }}</strong>
    </div>
    <div class="row" [innerHTML]="item.render()"></div>
  </div>
  <div class="price">
    <span>Količina: {{ item.quantity }}</span>
    <span>{{ formatter.ispisi(item.price) }}</span>
  </div>
</div>
