<div>
  <mat-toolbar color="primary">
    <span>PC Configurator</span>
  </mat-toolbar>

  <div id="container">
    <div class="button-list">
      <button (click)="requestData('mobo')" mat-raised-button	color="basic" matTooltip="Matična ploča" matTooltipPosition="above"><img src="https://png.icons8.com/dusk/50/000000/motherboard.png"></button>
      <button (click)="requestData('cpu')" mat-raised-button	color="basic" matTooltip="Procesor" matTooltipPosition="above"><img src="https://png.icons8.com/dusk/50/000000/processor.png"></button>
      <button (click)="requestData('memory')" mat-raised-button	color="basic" matTooltip="Memorija" matTooltipPosition="above"><img src="https://png.icons8.com/dusk/50/000000/memory-slot.png"></button>
      <button (click)="requestData('gpu')" mat-raised-button	color="basic" matTooltip="Grafička kartica" matTooltipPosition="above"><img src="https://png.icons8.com/dusk/50/000000/network-card.png"></button>
      <button (click)="requestData('ssd')" mat-raised-button	color="basic" matTooltip="SSD" matTooltipPosition="above"><img src="https://png.icons8.com/dusk/50/000000/ssd.png"></button>
      <button (click)="requestData('hdd')" mat-raised-button	color="basic" matTooltip="HDD" matTooltipPosition="above"><img src="https://png.icons8.com/dusk/50/000000/hdd.png"></button>
    </div>
    <div class="wrapper">
      <div class="left">
        <mat-card id="list-container">
          <app-list></app-list>
        </mat-card>
      </div>
      <div class="right">
        <app-cart></app-cart>
      </div>
    </div>
  </div>
</div>
