/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.button-list button {
  padding: 16px !important;
  margin-right: 10px;
  margin-bottom: 10px;
}

mat-toolbar-row {
  justify-content: space-between;
}

mat-card#list-container{
  width: 100%;
  height: 500px;
  overflow-y: scroll;
}

#container {
  display:flex;
  flex-flow: row wrap;
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

.wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

#container .button-list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  margin-bottom: 10px;
  justify-content: flex-start;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#container .left {
  display: flex;
  flex-wrap:wrap;
  flex-basis: 60%;
}

#container .right {
  margin-left: 5%;
  display: flex;
  flex-basis: 35%;
}

app-cart {
  width: 100%;
}

#cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-muted {
  color: #6c757d!important;
}

.footer {
  position: absolute;
  width: 100%;
  height: 60px;
  padding-left: 20px;
  line-height: 60px;
  background-color: #f5f5f5;
}

app-list-item {
  width: 100%;
}

.cart-item-container {
  margin-top: 24px;
  margin-bottom: 24px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.right mat-card {
  padding-top: 0px;
}

.cart-item-container .price {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.cart-item-container .info {
  text-align: left;
}

.item-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

.item-container .pointer {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 10%;
  -ms-flex: 0 1 10%;
  flex: 0 1 10%;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.item-container .info {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 60%;
  -ms-flex: 0 1 60%;
  flex: 0 1 60%;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.row span {
  font-size: smaller;
}

.item-container .info .row {
  /*
  display: flex;
  justify-content: space-between;
  */
  width: 100%;
}

mat-card-footer {
  display: flex !important;
  padding: .75rem 1.25rem;
  justify-content: space-between;
}

.item-container .price {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 30%;
  -ms-flex: 0 1 30%;
  flex: 0 1 30%;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}
