<div class="loader" *ngIf="loading$ | async; else listContent">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<ng-template #listContent>
  <mat-nav-list>
    <mat-list-item *ngFor="let it of items$ | async">
      <app-list-item [item]="it"></app-list-item>
    </mat-list-item>
  </mat-nav-list>
</ng-template>
