<div class="item-container" (click)="addToCart(item)">
  <div class="pointer">
    <a href="{{ item.url }}" target="_blank"><i class="material-icons" style="font-size: 18px;">search</i></a>
  </div>
  <div class="info">
    <div class="row">
        <strong>{{ item.name }}</strong>
    </div>
    <div class="row" [innerHTML]="item.render()"></div>
  </div>
  <div class="price">
    {{ formatter.ispisi(item.price) }}
  </div>
</div>
